.imdbRating,
.rottenRating {
  height: 30px;
  width: 32%;
  padding-top: 3px;
  border-radius: 5px;
  background: red;
  color: aliceblue;
  margin-top: 10px;
}

.ratings {
  display: flex;
  justify-content: space-evenly;
}
